#txtTitulo{
    color: #993726;
    text-align: center;
    font-family: fantasy;
    font-size: 3.5em;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
#txtTexto{
    text-align: center;
}
.ftoImgParrafo{
    float:left;
    padding: 10px;
    margin: 18px;
    border: ridge;
    
}
.subtema{
    color:#993726;
    margin: 20px;
    text-align: center;
    font-style:oblique;
    clear: both;
    border: solid;
}

p{
    text-align: justify;
    font-style:oblique;
    font-size: 1em;
}
.txtParrafo{
    font-family: cursive;
    text-align: justify
}